.page {
  min-height: 100vh;
}

.main {
  min-height: 70vh;
  padding-block: 40px 64px;
}

@media screen and (min-width: 1440px) {
  .page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 32px;
    align-items: start;
    grid-template-areas:
      "title title"
      "image image"
      "description sidebar";
  }

  .main {
    display: contents;
  }

  .aside {
    grid-area: sidebar;
  }
}