.hero {
  padding-top: 16px;
}

.content {
  display: flex;
  min-width: 0;
  flex-direction: column;
  gap: 12px;
}

.image {
  width: 100%;
  aspect-ratio: 361 / 322;
  background-image: url("/images/hero/hero-image-mob.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.copy {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* .title {
  width: 100%;
  min-width: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  overflow-wrap: break-word;
  color: var(--green-darker);
} */
.title {
  width: 100%;
  max-width: 343px;
  line-height: 1.4;
  font-weight: 700;
  font-size: 40px;
  color: var(--green-darker);
  width: 361px;
}
.title em {
  font-family: "Merienda", sans-serif;
  font-style: normal;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;
}

.primaryButton,
.outlineButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 57px;
  border-radius: 64px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color 200ms ease,
    color 200ms ease,
    border-color 200ms ease;
}

.primaryButton {
  background-color: var(--green);
  color: var(--white);
}

.outlineButton {
  border: 1px solid var(--green-darker);
  background-color: transparent;
  color: var(--green-darker);
}

.primaryButton:hover {
  background-color: var(--green-darker);
}

.outlineButton:hover {
  background-color: var(--green-darker);
  color: var(--white);
}

/* =========================
   TABLET
========================= */

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .content {
    position: relative;
    display: block;
  }

  .copy {
    position: relative;
    z-index: 2;
    width: 430px;
  }

  .title {
    max-width: 430px;
  }

  .actions {
    align-items: flex-start;
    gap: 16px;
  }

  .primaryButton,
  .outlineButton {
    width: 249px;
  }

  .image {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    width: 430px;
    aspect-ratio: 430 / 383;

    background-image: url("/images/hero/hero-image-tab.webp");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* =========================
   DESKTOP
========================= */

@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 48px;
    padding-bottom: 96px;
  }
  .content {
    position: relative;
    min-height: 562px;
  }

  .copy {
    width: 599px;
  }

  .title {
    width: 599px;
    max-width: 599px;

    font-size: 92px;
    font-weight: 800;
    line-height: 1;
  }

  .actions {
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
  }

  .primaryButton,
  .outlineButton {
    width: 184px;
  }

  .image {
    position: absolute;
    top: 0;
    right: 0;
    width: 805px;
    aspect-ratio: 805 / 562;

    background-image: url("/images/hero/hero-image-dsk.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 32px 32px 32px 0;
  }
}
