.main {
  padding-block: 32px;
  background-color: var(--white);
}

@media screen and (min-width: 768px) {
  .main {
    padding-block: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    padding-block: 80px;
  }
}