.section {
  padding-block: 0px;
  background-color: var(--white);
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.about,
.image {
  border-radius: 32px;
  overflow: hidden;
}

.about {
  flex: 1 1 calc(40% - 16px);
  padding: 32px;
  background-color: var(--light-green);
}

.image {
  position: relative;
}

.image img {
  object-fit: cover;
}

.about,
.image {
  width: 100%;
}

.image:nth-child(2),
.image:nth-child(3) {
  height: 365px;
}

.image:nth-child(4) {
  display: none;
}

.title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 32px;
  color: var(--black);
}

.description {
  width: 297px;
  line-height: 1.55;
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

@media screen and (min-width: 768px) {

  .about {
    flex: 1 1 calc(60% - 16px);
    height: 326px;
  }

  .image:nth-child(2) {
    flex: 1 1 calc(40% - 16px);
    height: 326px;
  }

  .image:nth-child(3) {
    flex: 1 1 100%;
    aspect-ratio: 704 / 398;
    min-height: 0;
  }

  .description {
    width: 367px;
  }
}

@media screen and (min-width: 1440px) {
  .about {
    flex: 1 1 calc(40% - 16px);
    height: 326px;
  }

  

  .image:nth-child(2) {
    flex: 1 1 calc(60% - 16px);
    height: 326px;
  }

  .image:nth-child(3) {
    flex: 1 1 calc(60% - 16px);
    height: 398px;
  }

  .image:nth-child(4) {
    flex: 1 1 calc(30% - 16px);
    height: 398px;
    display: block;
  }

  .title {
    font-size: 40px;
  }

  .description {
    width: 432px;
  }
}
