.mobileMenu {
  display: block;
}

.menuButton {
  display: flex;
  width: 32px;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--green-darker);
  cursor: pointer;
}

.icon {
  width: 32px;
  height: 30px;
  fill: none;
  stroke: currentColor;
}

/* .backdrop {
  position: fixed;
  z-index: 1000;
  inset: 0;
  top: 62px;
  background-color: rgb(7 7 33 / 40%);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px 16px;
  background-color: var(--white);
}

.menu a {
  color: var(--black);
  text-decoration: none;
} */
.backdrop {
  position: fixed;
  z-index: 1000;
  inset: 74px 0 0;
  overflow: hidden;
  background-color: rgb(7 7 33 / 40%);
}

.menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px 16px;
  overflow: hidden;
  background-color: var(--light-green);
}

.menu a {
  color: var(--green-darker);
  text-decoration: none;
}
.menu a:hover,
.menu a:focus-visible {
  color: var(--green-darker);
}

/* @media screen and (min-width: 768px) {
  .mobileMenu {
    display: none;
  }
} */
@media screen and (min-width: 768px) {
  .mobileMenu {
    display: block;
  }

  .menu {
    gap: 32px;
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .mobileMenu {
    display: none;
  }
}
