.formContainer{
    position: relative;
  max-width: 360px;
  padding: 32px;
  color: var(--gray);
  margin-inline: auto;
  border-radius: 40px;
  background: var(--light-green); 
  display: flex;
  flex-direction: column;
}

.hiddenInput {
  display: none;
}

.avatarLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  cursor: pointer;
}

.placeholderCircle {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  background-color: #638875;
  display: flex;
  align-items: center;
  justify-content: center;
}


.placeholderCircle:hover {
  opacity: 0.9;
}

.avatarImage {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}


.title {
     font-size: 32px; 
     font-weight: 700;
     color: #070721;
     text-align: center;
     margin: 0;
}

.icon-close {
  width: 24px;      
  height: 24px;
  stroke: #070721; 
  fill: none;
  stroke-width: 1px; 
  stroke-linecap: round;
}

.closeBtn {
position: absolute;
  top: 16px;     
  right: 16px;
  background: none;      
  border: none;           
  padding: 0;           
  cursor: pointer;      
  display: flex;    
  align-items: center;
  justify-content: center;
  outline: none;
  width: 24px;
  height: 24px;
}

.buttonSave {
  outline: none;
}

.buttonDisabled {
  background-color: transparent;
  cursor: not-allowed;
  opacity: 0.6;
  outline-offset: 0;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 5px #D3D3D3; 
  background-color: #649179;
}

.buttonDisabled .saveText {
  color: #fff;
}

.buttonActive {
  background-color: #649179;
  cursor: pointer;
  box-shadow: none;
}

.buttonActive .saveText {
  color: #ffffff;
}

.saveText {
    font-weight: 700;
    font-size: 16px;
    color: #F7FFFB;
}


@media screen and (min-width: 768px) { 
    .formContainer{
  max-width: 522px;
  padding: 48px;
}
}

@media screen and (min-width: 1440px) { 
    .formContainer{
  max-width: 392px;
}
}